#GreenDivv {
  background-color: rgb(54, 158, 54);
  height: 25%;
  margin: 0px;
  position: absolute;
  width: 100%;
  z-index: 0;
}



#UserNameBoxx {
  z-index: 1;
  position: absolute;
  left: 10%;
  height: 36%;
  width: 80%;
  top: 8%;
  background-color: white;
}

#placee {
  position: absolute;
  bottom: 10%;
  width: 25%;
  left: 5%;
  font-size: 1.1vw;
  background-color: blue;
}

#sentencee {
  position: absolute;
  left: 60%;
  font-size: 1.1vw;
  bottom: 10%;
}

#sentencee a {
  font-size: 1.1vw;
}

.distancee {
  position: absolute;
  width: 43%;
  left: 35%;
}

.distance22 {
  position: absolute;
  width: 85%;
  top: 25%;
  font-size: 1.1vw;
  margin-left: 10%;
}

.distance44 {
  position: absolute;
  top: 45%;
  width: 85%;
  font-size: 1.1vw;
  margin-left: 10%;
}


.distance33 {
  position: absolute;
  width: 43%;
  left: 35%;
}